<style>
  h4 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color:#4D3A3A;
    text-align: justify;
    line-height: normal;
    padding-bottom: 10px;
  }

    h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color:#4D3A3A;
    text-align: justify;
    line-height: normal;
    padding-bottom: 10px;
  }

  h2 {
    font-family: 'Homemade Apple', cursive;
    font-size: 60px;
    font-weight: 300;
    color:#CE9396;
    border-bottom: 3px solid currentColor;
    line-height: 0.85;
    display: inline-block;
    text-shadow: 2px 2px #f8f4f9, 2px -2px #f8f4f9, -2px 2px #f8f4f9, -2px -2px #f8f4f9;
    padding-bottom: 13px;
    margin-top: 10px;
  }

  a {
    font-family: 'Advent Pro', sans-serif;
    color:black;
    font-size: 25px;
    font-weight: 300;
    border-bottom: 2px solid currentColor;
    line-height: 0.85;
  }

  a:hover {
    color: #bd6571;
    text-decoration: none;
  }

.vertical-align {
  padding: 13% 0;
  display: inline-block;
}

.vertical-align-mob {
  padding: 13% 18%;
  display: inline-block;
}

.bckg-color {
  background-color: #f8f4f9;
}

.padding-35 {
  padding-top: 35px;
}

.padding-100 {
  padding-top: 100px;
}

.padding-65 {
  padding-top: 65px;
}

.padding-60 {
  padding-top: 60px;
}

.padding-20 {
  padding-top: 20px;
}

.respon-img {
  max-width: 100%
}

.padding-top-29 {
  padding-top: 29%;
}


.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-35 {
  padding-top: 35px;
}

.font-resize {
  font-size: 5.5vw !important;
}

.font-resize-small {
  font-size: 25px !important;
}

.line-height {
  line-height: inherit !important;
}
</style>



<div class="bckg-color">
  <div class="container">

    <div class="row text-center">
      <div class="col-sm-2 hidden-xs vertical-align">
        <a href="#klientes">KLIENTĖS</a>
      </div>

      <div class="col-sm-8">
        <%= image_tag 'Logo.png', class:"respon-img" %>
      </div>

      <div class="col-xs-2 hidden-sm hidden-md hidden-lg vertical-align-mob">
        <a href="#klientes">KLIENTĖS</a>
      </div>

      <div class="col-sm-2 vertical-align">
        <a href="#kontaktai">KONTAKTAI</a>
      </div>
    </div>

    <div class="row padding-35" >
      <div class="col-xs-12">
        <div class="text-center">
            <%= image_tag 'as.png', class:"respon-img" %>
        </div>
      </div>
    </div>


    <div class="row" >
      <div class="col-sm-6 padding-100">
        <div class="text-center">
            <%= image_tag 'apie.png', class:"respon-img" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-center">
         <h2 class="font-resize">Apie mane</h2>

         <h4 class="padding-20">Mano aistra – makiažas. Nuo pat mažens iki  dabar žaviuosi grožiu ir jaučiuosi ypač laiminga kiekvieną kartą galėdama prisidėti kuriant nepriekaištingą įvaizdį, išryškindama gražiausius klienčių bruožus.<br><br>

         Profesionalaus makiažo pagrindus įgijau gerai žinomoje Carolina make Up Studio, taip pat, baigiau Brow Henna profesionalaus antakių dažymo bei formavimo kursus. Šiuo metu įkvėpimo semiuosi iš Desi Perkins, Ariel, Makeup by Mario atliekamų makiažų. Mano pagrindinė makiažo filosofija yra natūralių veido bruožų išryškinimas, tad savo klientėms visuomet patariu kaip pačioms dažantis išlaikyti proporcijas ir atskleisti natūralų veido grožį.<br><br>

         Mėgstu gerą ir kokybišką kosmetiką, todėl atlikdama profesionalų makiažą savo klientėms naudojų tik profesionalią kosmetiką. Šiuo metu dirbu su šiais prekiniais ženklais:  Make Up Forever, MAC, Smashbox, Inglot, Iane Iredale, Anastasia Beverly Hills, NYX, Urban Decay, Sigma. <br><br>

         Taip pat bendradarbiauju su vienomis didžiausių reklamos agentūrų Lietuvoje, tad dažnai tenka grimuoti modelius reklamose, fotosesijose, renginiuose ir panašiai. Paskutiniai mano darbai:  Adidas kolekcijos pristatymo fotosesija su olimpinių žaidynių maratonininkais Remigijumi ir Vaida; Adidas naujos kolekcijos pristatymo renginys,  Impuls reklamos fotosesija, Rido kiaušinių reklama.<br><br>

         Daugiau mano darbų nuotraukų galite rasti Fasebook paieškos laukelyje suvedę: „vysnia make up“. Tad trumpai tiek apie mane ir iki pasimatymo!
        </h4>
        </div>
      </div>
    </div>


    <div class="row" >
      <div class="col-sm-12 padding-65">
        <div class="text-center" id="klientes">
            <%= image_tag 'klientes.png', class:"respon-img" %>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-xs-offset-1 col-xs-6">
        <div class="text-center">
            <%= image_tag 'akis.png', class:"respon-img", style:"    padding-right: 28px;" %>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="text-center padding-top-29">
            <h2 class="font-resize">Dieninis</h2>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-5 col-md-offset-1 col-md-5">

        <div class="hidden-xs hidden-sm hidden-md padding-35"></div>
        <div class="text-center line-height" style="padding-top: 30px;">
            <h4>Dieniniam makiažui yra svarbiausia natūralumas - neapkrauti veido makiažo priemonėmis . Žinoma, dieną reiktų pradėti drėkinančiu veido kremu ir tik poto padengti skystu makiažo pagrindu.
            Savo klientėms visuomet patariu naudoti lengvos tekstūros makiažo pagrindą, nes jis užmaskuoja odos netobulumus, tačiau išlaiko naturalų įvaizdį.
            <br><br>
            Iškilus daugiau klausimų, su malonumu kviečiu užsirašyti individualiai konsultacijai. Ypač dažnai pastebiu, kad klientės įsigyja įvairiausių makiažo priemonių, tačiau nebūtinai reikalingų ir šios lieka dūlėti kosmetinėje. Tokiu atveju pasiūlau individualios konsultacijos metu atsinešti savo turimą kosmetiką ir pamokinu, kaip ja tikslingai naudotis. Būna ir atvirkščiai, kai su klientėmis kartu, pagal individualius pageidavimus, sukomplektuojame būtiniausių kosmetikos priemonių  krepšelį. Taigi, aš visuomet Jūsų  paslaugoms.</h4>
        </div>
      </div>
      <div class=" col-sm-6">
        <div class="text-center">
            <%= image_tag 'kliente.png', class:"respon-img" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7">
        <div class="text-center" style="padding-right: 28px;
    margin-top: -22px;">
    <div class=" hidden-md hidden-lg padding-35"></div>
            <%= image_tag 'lupos.png', class:"respon-img" %>
        </div>
      </div>
      <div class="col-md-4">
               <div class="hidden-xs hidden-sm hidden-md padding-35"></div>
               <div class="hidden-xs hidden-sm padding-35"></div>
        <div class="text-center padding-left-20 line-height" >
            <h4>Tobulo makiažo paslaptis (kitaip:  „šventinis makiažas“, ar „vakarinis makiažas“)   yra išpuoselėta oda. Ir tai nereiškia brangiausių kosmetikos priemonių, tai reiškia odo priežiūros procesus. Kad makiažas ilgiau išliktų, rekomenduoju jį pradėti nuo drėkinančio pagrindo, jis netik padrėkina, atgaivina Jūsų veido odą, bet ir padeda makiažui išsilaikyti ilgiau.</h4>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-5">

        <div class="hidden-xs hidden-sm padding-35">
        <div class="text-center line-height" style="padding: 30px 70px 70px 70px;" >
            <h4>Atlikdama makiažą savo klientėms, naudoju  Jane Iredale „Smooth affair“  primerį ir taip pat kaip ir mano klientės, esu juo labai patenkinta. Na, o pabaigoje makiažą rekomeduoju užfiksuoti sausa pudra, kuri tap pat padės makiažui išsilaikyti ilgiau. Ir žinoma, pritrenkiančių akių įspūdžiui pasiekti, rekomenduoju dirbtines blakstienas.  Taigi, jei norite sužinoti dugiau makiažo paslapčių iš profesionalo lūpų- susisiekite su manimi.</h4>
        </div>
        </div>

        <div class="text-center line-height hidden-md hidden-lg">
            <h4>Atlikdama makiažą savo klientėms, naudoju  Jane Iredale „Smooth affair“  primerį ir taip pat kaip ir mano klientės, esu juo labai patenkinta. Na, o pabaigoje makiažą rekomeduoju užfiksuoti sausa pudra, kuri tap pat padės makiažui išsilaikyti ilgiau. Ir žinoma, pritrenkiančių akių įspūdžiui pasiekti, rekomenduoju dirbtines blakstienas.  Taigi, jei norite sužinoti dugiau makiažo paslapčių iš profesionalo lūpų- susisiekite su manimi.</h4>
        </div>
      </div>
      <div class="col-sm-offset-1  col-sm-4 col-md-5 hidden-sm hidden-xs" style="padding: 0px;">

        <div class="">
            <%= image_tag 'kliente1.png', class:"respon-img", style:"     margin-top: -10px;
    margin-left: -43px;" %>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class=" col-xs-5 col-sm-5 col-md-6 col-md-offset-1" style="padding: 0px; margin-left: 54px;">
        <div class="hidden-sm hidden-xs">
            <%= image_tag 'vakarinis.png', class:"respon-img padding-left-20"%>
        </div>
        <div class="hidden-md hidden-lg">
            <%= image_tag 'vakarinis.png', class:"respon-img",style:"margin-left: -30px;" %>
        </div>
      </div>

      <div class="col-sm-6 col-md-offset-1 col-md-3">
      <div class="hidden-xs hidden-sm hidden-md " style="padding-top: 35%;"></div>

        <div class="text-center hidden-xs " style="padding-left: 10px; margin-right: -40px;">

            <h4>Moteris pasidabinusi rykiomis lūpomis, spinduliuoja pasitikėjimu savimi, paslaptimi, drąsa. Tačiau, ne kiekviena moteris ryžtasi rinktis makiažą pabrėžiantį ryškias lūpas.  Noriu paminėti, mielosios, kad ryškūs lūpų dažai tinka visoms.  Na, o kad lūpos atrodytų idealiai, kaip ir veidą, jas reikia puoselėti iš anksto drėkinant balzamu.

              <br><br>Šiam makiažui taip pat labai svarbu yra tobulai išlyginta veido oda, profesionaliai parinkta maskuojama priemonė užmaskuos visus odos netobulumus. Ir žinoma lūpų pieštukas, kuris turėtų būti tokios pat spalvos kaip ir lūpų dažai. Lūpų pieštukas padės dažams neištekėti ir suteiks lūpoms idealų kontūrą.</h4>
        </div>

        <div class="text-center hidden-sm hidden-md hidden-lg" style="padding-left: 20px">

            <h4>Moteris pasidabinusi rykiomis lūpomis, spinduliuoja pasitikėjimu savimi, paslaptimi, drąsa. Tačiau, ne kiekviena moteris ryžtasi rinktis makiažą pabrėžiantį ryškias lūpas.  Noriu paminėti, mielosios, kad ryškūs lūpų dažai tinka visoms.  Na, o kad lūpos atrodytų idealiai, kaip ir veidą, jas reikia puoselėti iš anksto drėkinant balzamu.

              <br><br>Šiam makiažui taip pat labai svarbu yra tobulai išlyginta veido oda, profesionaliai parinkta maskuojama priemonė užmaskuos visus odos netobulumus. Ir žinoma lūpų pieštukas, kuris turėtų būti tokios pat spalvos kaip ir lūpų dažai. Lūpų pieštukas padės dažams neištekėti ir suteiks lūpoms idealų kontūrą.</h4>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="hidden-xs  col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">

        <div class="hidden-xs hidden-sm hidden-md padding-35"></div>

        <div class="text-center line-height" style="padding: 25px 20px 0px 60px;">
            <h4>Foto makiažo ryškumas skiriasi nuo įprasto dieninio ar proginio makiažo, nes foto objektyvai ir šviesos susilpnina esamo makiažo intensyvumą iki 70%. Grimuodama modelius reklamos filmavimams ar fotosesijoms dėl didelio šviesos kiekio, pastebiu, kad makiažas yra blankesnis, todėl jis turėtų būti intensyvesnis nei įprastai. Žvelgiant ne iš objektyvo perspektyvos, kartais jis atrodo perkrautas makiažo priemonėmis, tačiau šiuo atveju Tai yra neišvengiama.</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-5" style="padding: 0px;">
        <div class="text-center hidden-sm hidden-xs">
            <%= image_tag 'kliente3.png', class:"respon-img", style:"     margin-left: 54px;" %>
        </div>
        <div class="text-center hidden-md hidden-lg">
            <%= image_tag 'kliente3.png', class:"respon-img" %>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-12 padding-65" style="margin-top: 30px;">
        <div class="text-center" id="kontaktai">
            <%= image_tag 'kontaktai.png', class:"respon-img" %>
        </div>
      </div>
    </div>


    <div class="row" >
      <div class="hidden-xs hidden-sm hidden-md col-lg-3" style="padding: 0px;">
        <div class="">
            <%= image_tag 'kaire.png', class:"respon-img", style:"    margin-left: -80px;"%>
        </div>
      </div>


      <div class="col-xs-12 col-lg-6">

        <div class="text-center" style="padding-top: 13%;">
            <h2 class="font-resize">Rezervuokite</h2>
        <div class="hidden-xs hidden-sm hidden-md padding-35"></div>


            <h3 class="font-resize-small text-center"> <strong>Vardas:</strong> Milda Vyšniauskaitė </h3>
            <h3 class="font-resize-small text-center"> <strong>Telefoans:</strong> +370 60568002 </h3>
            <h3 class="font-resize-small text-center"> <strong>Emailas:</strong> Milda.vysniauskaite1@gmail.com</h3>
            <h3 class="font-resize-small text-center"> <strong>Adresas:</strong> Pylimo g. 2, Vilnius </h3>
          </div>

      </div>
      <div class="hidden-xs hidden-sm hidden-md col-lg-3" style="padding: 0px;">
        <div class="">
            <%= image_tag 'desine.png', class:"respon-img", style:"    margin-left: 70px;"%>
        </div>
      </div>
    </div>


  </div>
</div>

